<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--DB连接四要素-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///test</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <!--方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57InnoDBDialect</property>
        <!--数据源C3P0：数据库连接池-->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!--注册当前Session上下文：保证同一线程中获得到得Session为同一个-->
        <property name="hibernate.current_session_context_class">thread</property>
        <!--自动建表-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--显示SQL-->
        <property name="hibernate.show_sql">true</property>
        <!--格式化SQL-->
        <property name="hibernate.format_sql">true</property>
        <!--注册映射文件-->
        <mapping resource="beans/Student.hbm.xml"/>
        <mapping resource="beans/Country.hbm.xml"/>
        <mapping resource="beans/Minister.hbm.xml"/>
        <mapping resource="onetomany/beans/Minister.hbm.xml"/>
        <mapping resource="onetomany/beans/Country.hbm.xml"/>
    </session-factory>
</hibernate-configuration>